<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  
  First Name: <%= f.text_field :firstname %>
  First Name: <%= f.text_field :firstname %>
  Email: <%= f.text_field :email %>
  Password: <%= f.text_field :password %>
  <%= f.submit "Submit" %>

<% end %>