<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
      <div class="form-group">
        <p>First Name:</p>
        <p> <%= f.text_field :firstname %></p>
      </div>
      <div class="form-group">
        <p>Last Name:</p> 
        <p><%= f.text_field :lastname %></p>
      </div>
      <div class="form-group">
        <p>Email:</p> 
        <p><%= f.text_field :email %></p>
      </div>
      <div class="form-group">
        <p>Password: </p>
        <p><%= f.password_field :password %></p>
      </div>
      <div class="form-group">
        <p>Password Confirmation:</p>
        <p><%= f.password_field :password_confirmation %></p>
      </div>
      <%= f.submit "Submit" %>

<% end %>
